%ul#comic-navigation
  %li
    %a#first-comic
      First Comic
  %li
    %a#previous-comic
      Previous Comic 
  %li
    %a#random-comic
      Random Comic
  %li
    %a#next-comic
      Next Comic
  %li
    %a#last-comic
      Last Comic
