%ul#comic-navigation
  %li#first-comic
    -if @first_comic && @first_comic != @comic
      =link_to "First Comic", { :action => :show, :id => @first_comic.id }
    -else
      First Comic
  %li#previous-comic
    -if @previous_comic
      =link_to "Previous Comic", :action => :show, :id => @previous_comic.id
    -else
      Previous Comic
  %li#random-comic
    =link_to "Random Comic", :action => :show, :id => @random_comic.id
  %li#next-comic
    -if @next_comic
      =link_to "Next Comic", :action => :show, :id => @next_comic.id
    -else
      Next Comic
  %li#last-comic
    -if @last_comic && @last_comic != @comic
      =link_to "Last Comic", :action => :show, :id => @last_comic.id
    -else
      Last Comic
