%div#comic
  %h2.comic-id
    =@comic.id 
  %h2.comic-title
    =@comic.title
  %h3.comic-date
    =@comic.post_date
  =image_tag @comic.img_url, :class => "comic-image"
  =render "comics/comic_navigation"
