%div#comic
  %h2.comic-title
    =@comic.title
  %h3.comic-date
    =@comic.post_date
  =image_tag @comic.img_url
  %ul#comic-navigation
    %li
      =link_to("First Comic",'/comics/1')
    -if @comic.id != 1
      %li
        %a
          =link_to("Previous Comic","/comics/#{@comic.id-1}")
    %li
      %a
        Random Comic
    %li
      %a
        Next Comic
    %li
      %a
        Last Comic
