%div#comic-main.padding-top-10.padding-bottom-10
  -unless @comic
    %div#search-result-form
      %h3.search-results-for
        -if @comics.any?
          ="Search Results for \"#{@searched_for}\""
          %ul#search-results
            -@comics.each do |comic|
              %li.single-result
                =link_to comic.title, comic_path(comic.url_slug), class: "orange-link"
        -else
          ="Sorry, No Comics Found For \"#{@searched_for}\""
  -else
    %div#comic-and-nav-wrapper
      %div#first-comic
        -if @first_comic && @first_comic != @comic
          %a{:href => "/comic/" + @first_comic.url_slug}
            %div#first-link
              First
        -else
          First
      %div#previous-comic
        -if @previous_comic && @first_comic != @comic
          %a{:href => "/comic/" + @previous_comic.url_slug}
            %div#previous-link
              Previous
        -else
          Previous
      %div#comic-image
        %h4.comic-title.padding-top-0.padding-bottom-0.margin-top-0.margin-bottom-0
          ="\"#{@comic.title}\""
        %h5.comic-date.padding-top-0.padding-bottom-0.margin-top-0.margin-bottom-0
          =@comic.post_date.strftime(" %B %-d, %Y")
        %h6.random-link.padding-top-0.padding-bottom-10.margin-top-0.margin-bottom-0
          =link_to "Random Comic", { :action => :show, :url_slug => @random_comic.url_slug }, id: "random-link", class: "orange-link"
        -if @next_comic && @next_comic != @comic
          =link_to(image_tag(@comic.img_url, :class => "comic-image", alt: @comic.alt_text, title: @comic.alt_text), :action => :show, :url_slug => @next_comic.url_slug)
        -else
          =image_tag @comic.img_url, :class => "comic-image", alt: @comic.alt_text, title: @comic.alt_text
      %div#next-comic
        -if @next_comic && @next_comic != @comic
          %a{:href => "/comic/" + @next_comic.url_slug}
            %div#next-link
              Next
        -else
          Next
      %div#last-comic
        -if @last_comic && @last_comic != @comic
          %a{:href => "/comic/" + @last_comic.url_slug}
            %div#last-link
              Last
        -else
          Last
