body{

}

h1{
	color:red
}

h6{

}

.comic-date{
	font-style: italic;
}

#comic-navigation{
}

#comic-navigation li{
	display:inline;
	height: 100%;
	/*padding-left: 5px;*/
	/*padding-right: 5px;*/
}

#comic-main{
	margin:auto;
	width: 75%;
	min-height: 600px;
}

.comic-image{
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.list-all-comics{
	width:100%;
}

.list-all-comics a{
	color: #d68f00;
}


.list-all-comics a:visited {
	color: #a87000;
}

.list-all-comics tr:nth-child(even) {
	background-color: #ffc;
}

#comic > img{
}

#comic-wrapper{
	padding: 0;
	margin: 0;
}

#first-comic{
	display: inline-block;
	width: 5%;
	height: 100%;
	padding-top: 50%;
	padding-bottom: 50%;
}

#previous-comic{
	display: inline-block;
	width: 5%;
	height: 100%;
	padding-top: 50%;
	padding-bottom: 50%;
}

#comic-image{
	display: inline-block;
	width: 76%;
	vertical-align: top;
}

#next-comic{
	display: inline-block;
	width: 5%;
	height: 100%;
	padding-top: 50%;
	padding-bottom: 50%;
}

#last-comic{
	display: inline-block;
	width: 5%;
	height: 100%;
	padding-top: 50%;
	padding-bottom: 50%;
}

#comic-footer{
	background: #fdb60a;
	height: 250px;
}

#comic-footer a{
	color: #fff;
}

#comic-footer h1{
	color: #000000;
	margin:0px;
	padding:0px;
	font-size: 2em;
}

#footer-wrapper p{
	font-size: .9em;

}

#footer-wrapper{
	margin-left:10%;
	margin-right:10%;
}
#footer-column1{
	width: 20%;
	float: left;
}

#footer-column2{
	width: 56%;
	float: left;
	padding-left: 2%;
	padding-right: 2%;
}

#footer-column3{
	width: 20%;
	float: left;
}

ul.admin-nav {
	padding: 0px;
	margin: 0px;
}

.admin-nav li{
	list-style-type: none;
	padding-right: 8px;
	float:left;
}
