%h2
  Edit Comic

=form_for ([:admin,@comic]) do |f|
  =f.label :title
  =f.text_field :title
  =f.label :alt_text
  =f.text_field :alt_text
  =f.label :img_url
  =f.text_field :img_url
  =f.label :visible
  =f.check_box :visible
  =f.label :post_date
  =f.datetime_local_field :post_date
  =f.label :keywords
  =f.text_field :keywords
  =f.submit
  
=image_tag(@comic.img_url, :class => "comic-image")
