= render "admin/comics/admin_navigation"
%div.current-comics
  %h2
    New Comic
  =form_for ([:admin,@comic]) do |f|
    =f.label :title
    =f.text_field :title
    =f.label :alt_text
    =f.text_field :alt_text
    =f.label :img_url
    =f.text_field :img_url
    =f.label :visible
    =f.check_box :visible
    =f.label :post_date
    =f.datetime_local_field :post_date
    =f.label :keywords
    =f.text_field :keywords
    =f.submit

  %h2.comic-title
    All Comics
  %table.list-all-comics
    -@comics.each do |comic|
      %tr
        %td
          =comic.id if comic.id
        %td
          =link_to comic.title, comic_path(comic.url_slug)
        %td
          =comic.post_date.strftime("%B %-d, %Y at %I:%M %P") if comic.post_date
        %td
          ="Visible" if comic.visible
        %td
          =link_to 'Edit', edit_admin_comic_path(comic.id)
        %td
          =link_to 'Delete', admin_comic_path(comic.id), method: :delete
